.showcase {
  height: 100vh;
  width: 100%;
  background: url("../../assets/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.showcase-inner {
  width: 70%;
  height: 70%;
  margin-top: 70px;
}

/* .showcase-inner input {
  width: 90%;
  height: 45px;
  padding: 10px 20px;
  transition: 0.5s all ease;
} */

/* .showcase-inner input:focus {
  outline-color: #05c002;
} */

/* .showcase-inner .text-case {
  max-width: 80%;
} */

/* .showcase-inner h1 {
  font-family: Montserrat;
  font-size: 55px;
  font-weight: 700;
  color: white;
}

.showcase-inner h1 span {
  color: #05c002;
} */

/* .showcase-inner p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-top: 30px;
} */

/* Offers Section  */

.offer-main {
  min-height: 100vh;
  padding: 50px 0px;
}

.offer-main h1 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
}

.offer-inner {
  width: 85%;
  margin: 30px 0px;
}

.offer-item {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 30px;
  width: 300px;
  height: 230px;
  margin: 20px;
}

.offer-item h3 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #05d901;
}

.offer-item p {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  color: #ffffffb2;
}

.offer-main .offer-button-div {
  margin-top: 20px;
}

.offer-main .offer-button-div button {
  border: none;
  background-color: #05c002;
  width: 230px;
  padding: 15px 0px;
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 600;
  color: black;
}

.offer-main .offer-button-div p {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
  margin-top: 10px;
}

/* Stay Happy Section  */
.stay-happy-main {
  min-height: 100vh;
  margin: 50px 0px;
}

.stay-happy-inner {
  width: 80%;
}

.stay-happy-left {
  height: 100%;
  width: 50%;
}

.stay-happy-left img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.stay-happy-right {
  height: 100%;
  width: 50%;
}

.stay-happy-right-inner {
  width: 65%;
}

.stay-happy-right h1 {
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 600;
}

.stay-happy-right p {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  margin: 40px 0px;
  text-align: justify;
}

.stay-happy-button button {
  border: none;
  display: block;
  background-color: #05c002;
  width: 65%;
  padding: 10px 0px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.stay-happy-button span {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
  color: black;
}

/* Find Tenants Section  */
.best-tenants-main {
  min-height: 100vh;
  background: url("../../assets/tenants.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.best-tenants-upper {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.best-tenants-upper h2 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  color: #05c002;
}

.best-tenants-lower {
  min-height: 70vh;
  width: 100% !important;
}

.best-tenants-lower-inner {
  width: 55%;
}

.best-tenants-lower-inner h1 {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.best-tenants-lower-inner h1 span {
  color: #05c002;
}

.best-tenants-lower-inner p {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  color: #e6e6e6;
  margin: 14px 0px;
  text-align: center;
}

.best-tenants-lower-inner button {
  border: none;
  display: block;
  background-color: #05c002;
  width: 30%;
  padding: 10px 0px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  color: black;
}

.best-tenants-lower-inner .best-button-span {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  color: #e6e6e6;
  margin-top: 10px;
}
