.page-title {
  text-align: center;
}

.form-input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 100%;
}

.background-image {
  position: relative;
  isolation: isolate;
}

.background-image::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(
    180deg,
    rgba(6, 137, 3, 0.4) 69.71%,
    rgba(6, 137, 3, 0) 89.21%
  );
}

.background-image > img {
  position: absolute;
  z-index: 0;
  inset: 0;
}

.background-image .content {
  position: relative;
  z-index: 4;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 1.5px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#05c002, #05c002);
}

.link-underline:hover {
  background-size: 100% 1.5px;
  background-position: 0 100%;
}

.slick-prev {
  left: 93% !important;
  top: 120% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
  top: 120% !important;
}

.slick-prev:before,
.slick-next:before {
  color: #068903 !important;
}

.dashboardLikedItems .slick-prev {
  left: 48% !important;
  top: 120% !important;
  z-index: 1;
}

.dashboardLikedItems .slick-next {
  right: 45% !important;
  top: 120% !important;
  z-index: 1;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fafafa !important;
  background-color: #068903 !important;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
}

* {
  margin: 0;
  padding: 0;
}

/* Icon 1 */

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 45px;
  height: 30px;
  position: relative;
  margin: 5px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #05c002;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 12px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 24px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 11px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 11px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 25px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 25px;
}
